absl-py==2.1.0
astunparse==1.6.3
av==11.0.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
djitellopy==2.5.0
flatbuffers==24.3.7
gast==0.4.0
google-auth==2.28.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.10.0
idna==3.6
keras==2.10.0
Keras-Preprocessing==1.1.2
libclang==18.1.1
markdown==3.6
markupsafe==2.1.5
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging==24.0  # Updated to match latest version in conda list
pandas==2.2.1
pillow==10.2.0
protobuf==3.19.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydot==2.0.0  # Added as it was installed via pip
requests==2.31.0
requests-oauthlib==1.4.0
rsa==4.9
simple-pid==2.0.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
typing-extensions==4.10.0
urllib3==2.2.1
werkzeug==3.0.1
wrapt==1.16.0
